{
    "presets":[ 
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            },
            "@babel/preset-stage-2"
        ]
    ],
    "plugins":[
        "@babel/plugin-transform-runtime"
    ]
}